.home_gallery{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f7f7f7;
    width: 93%;
    border-radius: 25px;
    margin: 0 auto;
    gap: 60px;
    padding: 40px;
}